<a href="https://colab.research.google.com/github/joanne841118/itri_ml_course/blob/main/lesson(right).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
lis=[1,2,3]
df = pd.DataFrame(lis, columns = ['value'])
df

   value
0      1
1      2
2      3

In [2]:
import pandas as pd
pd.read_csv('/content/sample_data/california_housing_train.csv')

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [3]:
import pandas as pd
df = pd.DataFrame({'name':['Raphael','Donatello'],
                 'mask':['read','purple'],
                 'weapon':['sai','bo staff']})
print(df)
df.to_csv('test.csv',index=False)

        name    mask    weapon
0    Raphael    read       sai
1  Donatello  purple  bo staff

In [4]:
import pandas as pd
df = pd.DataFrame({'col':[1,2],'col2':[0.5,0.75]},index=['row1','row2'])
df.to_dict()

{'col': {'row1': 1, 'row2': 2}, 'col2': {'row1': 0.5, 'row2': 0.75}}

In [5]:
!sudo apt-get remove git
!sudo apt-get install git

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  git-man liberror-perl
Use 'sudo apt autoremove' to remove them.
The following packages will be REMOVED:
  git
0 upgraded, 0 newly installed, 1 to remove and 12 not upgraded.
After this operation, 32.3 MB disk space will be freed.
(Reading database ... 146364 files and directories currently installed.)
Removing git (1:2.17.1-1ubuntu0.7) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  gettext-base git-daemon-run | git-daemon-sysvinit git-doc git-el git-email
  git-gui gitk gitweb git-cvs git-mediawiki git-svn
The following NEW packages will be installed:
  git
0 upgraded, 1 newly installed, 0 to remove and 12 not upgraded.
Need to get 3,915 kB of archives.
After this operation, 32.3 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 git amd64 1:2.17.1-1ubuntu0.7 [3,915 kB]
Fetched 3,915 kB in 1s (3,272 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package git.
(Reading database ... 145640 files and directories currently installed.)
Preparing to unpack .../git_1%3a2.17.1-1ubuntu0.7_amd64.deb ...
Unpacking git (1:2.17.1-1ubuntu0.7) ...
Setting up git (1:2.17.1-1ubuntu0.7) ...

In [6]:
!git clone https://github.com/joanne841118/itri_ml_course.git

Cloning into 'itri_ml_course'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.

In [7]:
%ls -al

total 24
drwxr-xr-x 1 root root 4096 Jan 20 05:39 ./
drwxr-xr-x 1 root root 4096 Jan 20 05:35 ../
drwxr-xr-x 1 root root 4096 Jan 15 17:28 .config/
drwxr-xr-x 3 root root 4096 Jan 20 05:39 itri_ml_course/
drwxr-xr-x 1 root root 4096 Jan 15 17:28 sample_data/
-rw-r--r-- 1 root root   60 Jan 20 05:38 test.csv

In [8]:
%cd /content/itri_ml_course

/content/itri_ml_course

In [9]:
!git config --global user.email"joannechiuab@gmail.com"
!git config --global user.name"joanne841118"

In [10]:
!git remote rm origin

In [11]:
!git remote add origin https://joannechiuab:Chiu1995@github.com/joanne841118/itri_ml_course.git

In [12]:
!touch 123.txt

In [13]:
!git add .
!git commit -m'add 123.txt'
!git push --set-upstream origin main

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@ff13a66b2d53.(none)')
remote: Invalid username or password.
fatal: Authentication failed for 'https://joannechiuab:Chiu1995@github.com/joanne841118/itri_ml_course.git/'

In [14]:
%cd /content/itri_ml_course/

/content/itri_ml_course

In [15]:
!wget -O myfile.csv https://raw.githubusercontent.com/joanne841118/itri_ml_course/main/test.csv

--2021-01-20 05:42:26--  https://raw.githubusercontent.com/joanne841118/itri_ml_course/main/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60 [text/plain]
Saving to: â€˜myfile.csvâ€™

myfile.csv          100%[===================>]      60  --.-KB/s    in 0s

2021-01-20 05:42:26 (2.13 MB/s) - â€˜myfile.csvâ€™ saved [60/60]